@font-face {
  font-family: Marcellus;
  font-display: swap;
  src: url("../fonts/Marcellus-Regular.woff2") format("woff2"), url("../fonts/Marcellus-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Mulish;
  font-display: swap;
  src: url("../fonts/Mulish-Bold.woff2") format("woff2"), url("../fonts/Mulish-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Mulish;
  font-display: swap;
  src: url("../fonts/Mulish-ExtraBold.woff2") format("woff2"), url("../fonts/Mulish-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Mulish;
  font-display: swap;
  src: url("../fonts/Mulish-Regular.woff2") format("woff2"), url("../fonts/Mulish-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Mulish;
  font-display: swap;
  src: url("../fonts/Mulish-SemiBold.woff2") format("woff2"), url("../fonts/Mulish-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Mulish;
  font-display: swap;
  src: url("../fonts/Mulish-VariableFont_wght.woff2") format("woff2"), url("../fonts/Mulish-VariableFont_wght.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Mulish", sans-serif;
  background-color: #000000;
  color: #C2C2C2;
  font-weight: 400;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.container {
  max-width: 1470px;
  margin: 0 auto;
  padding: 0 15px;
}

.button {
  border: none;
  border-radius: 100px;
  padding: 15px 30px;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
}

.button-gradient {
  color: #FFFFFF;
  background: -o-linear-gradient(133.47deg, #26FFF2 13.2%, #326CFF 71.54%);
  background: linear-gradient(316.53deg, #26FFF2 13.2%, #326CFF 71.54%);
  -webkit-box-shadow: 0px 4px 50px rgba(50, 108, 255, 0.5);
          box-shadow: 0px 4px 50px rgba(50, 108, 255, 0.5);
}

.button-gradient span {
  position: relative;
  padding-left: 29px;
}

.button-gradient span:before {
  content: "";
  position: absolute;
  width: 14px;
  height: 18px;
  left: 0;
  top: 0;
  bottom: 0;
  background-image: url(../img/header/arrow-right.svg);
}

.button-white {
  color: #323232;
  background: white;
}

.menu-button {
  display: none;
}

.header {
  z-index: 3;
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  padding: 15px 15px 15px 0px;
}

.header__content {
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.header-nav__item {
  padding-top: 6px;
}

.header-nav__item:not(:last-child) {
  margin-right: 55px;
}

.header-nav__link {
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.5);
  padding-bottom: 9px;
  position: relative;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.header-nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: -o-linear-gradient(133.47deg, #26FFF2 13.2%, #326CFF 71.54%);
  background: linear-gradient(316.53deg, #26FFF2 13.2%, #326CFF 71.54%);
  border-radius: 50px;
  opacity: 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.header-nav__link:hover {
  color: white;
}

.header-nav__link:hover::after {
  opacity: 1;
}

.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__buttons :not(:last-child) {
  margin-right: 75px;
}

.header__button {
  background: inherit;
  border: none;
  cursor: pointer;
}

.top {
  border-bottom: 2px solid #2F2E2E;
  overflow: hidden;
  position: relative;
}

.top__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.top__image {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.top__content {
  max-width: 562px;
  padding: 122px 30px 203px 0px;
  background-color: black;
  -webkit-box-shadow: 100px -15px 100px black;
          box-shadow: 100px -15px 100px black;
  position: relative;
  z-index: 2;
}

.top__content-title {
  font-family: "Marcellus", serif;
  font-size: 80px;
  line-height: 70px;
  color: #FFFFFF;
  margin-bottom: 40px;
}

.top__content-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 800;
  font-size: 16px;
  line-height: 10px;
  color: #FFFFFF;
  margin-bottom: 25px;
}

.top__content-year {
  margin-right: 18px;
}

.top__content-rating {
  margin-right: 18px;
  border: 2px solid transparent;
  border-radius: 50px;
  padding: 6px 15px;
  background-image: -o-linear-gradient(#000, #000), -o-linear-gradient(133.47deg, #26FFF2 13.2%, #326CFF 71.54%);
  background-image: linear-gradient(#000, #000), linear-gradient(316.53deg, #26FFF2 13.2%, #326CFF 71.54%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.top__content-length {
  margin-right: 41px;
}

.top__content-stars {
  position: relative;
}

.top__content-stars::after {
  content: "";
  position: absolute;
  right: -27px;
  bottom: -2px;
  width: 16px;
  height: 16px;
  background-image: url(../img/header/star.svg);
}

.top__content-text {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 35px;
}

.top__content-button--left {
  margin-right: 30px;
}

.trends {
  padding: 60px 0 100px;
}

.trends-cards {
  margin-bottom: 60px;
}

.trends-cards__title {
  display: inline-block;
  padding-left: 19px;
  margin-bottom: 47px;
  position: relative;
}

.trends-cards__title-link {
  display: block;
  font-family: "Mulish", sans-serif;
  font-weight: bold;
  font-size: 28px;
  line-height: 20px;
  color: #FFFFFF;
}

.no-webp .trends-cards__title::before {
  background-image: url(../img/gradient_stick_icon.png); }

.trends-cards__title::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 35px;
  top: -8px;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.no-webp .trends-cards__title::after {
  background-image: url(../img/right-arrow.png); }

.trends-cards__title::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  top: 3px;
  right: -32px;
  background-size: cover;
  background-repeat: no-repeat;
}

.trends-cards__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[6];
  grid-template-columns: repeat(6, auto);
  grid-column-gap: 40px;
  grid-row-gap: 0px;
}

.trends-cards__image {
  width: 206px;
  max-width: 100%;
  height: auto;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}

.trends-cards__image:hover {
  -webkit-box-shadow: 0px 0px 20px rgba(44, 176, 249, 0.5);
          box-shadow: 0px 0px 20px rgba(44, 176, 249, 0.5);
}

.genres {
  margin-bottom: 70px;
}

.genres__title {
  display: inline-block;
  padding-left: 19px;
  margin-bottom: 47px;
  position: relative;
}

.genres__title-link {
  display: block;
  font-family: "Mulish", sans-serif;
  font-weight: bold;
  font-size: 28px;
  line-height: 20px;
  color: #FFFFFF;
}

.no-webp .genres__title::before {
  background-image: url(../img/gradient_stick_icon.png); }

.genres__title::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 35px;
  top: -8px;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.no-webp .genres__title::after {
  background-image: url(../img/right-arrow.png); }

.genres__title::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  top: 3px;
  right: -32px;
  background-size: cover;
  background-repeat: no-repeat;
}

.genres__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (auto)[2];
  grid-template-rows: repeat(2, auto);
  gap: 27px;
}

.genres__item {
  border-radius: 20px;
}

.genres__item--pink {
  background: -o-linear-gradient(340.69deg, #FD093F 2.4%, #F383F1 100%);
  background: linear-gradient(109.31deg, #FD093F 2.4%, #F383F1 100%);
}

.genres__item--green {
  background: -o-linear-gradient(335.5deg, #0FFFDA 2.22%, #3CDB77 68.84%);
  background: linear-gradient(114.5deg, #0FFFDA 2.22%, #3CDB77 68.84%);
}

.genres__item--purple {
  background: -o-linear-gradient(340.69deg, #B936FF 2.4%, #57DEDA 100%);
  background: linear-gradient(109.31deg, #B936FF 2.4%, #57DEDA 100%);
}

.genres__item--red {
  background: -o-linear-gradient(340.69deg, #FD093F 2.4%, #FB1378 2.41%, #FCCB1A 100%);
  background: linear-gradient(109.31deg, #FD093F 2.4%, #FB1378 2.41%, #FCCB1A 100%);
}

.genres__item--peach {
  background: -o-linear-gradient(340.69deg, #FF6472 2.4%, #FDA75D 100%);
  background: linear-gradient(109.31deg, #FF6472 2.4%, #FDA75D 100%);
}

.genres__item--sky {
  background: -o-linear-gradient(339.84deg, #13547A 2.37%, #80D0C7 96.77%);
  background: linear-gradient(110.16deg, #13547A 2.37%, #80D0C7 96.77%);
}

.genres__item--yellow {
  background: -o-linear-gradient(340.07deg, #FFF77B 2.37%, #FFBF42 50%);
  background: linear-gradient(109.93deg, #FFF77B 2.37%, #FFBF42 50%);
}

.genres__item--blue {
  background: -o-linear-gradient(340.69deg, #1FA2FF 2.4%, #1FA2FF 2.41%, #1F535C 97.46%);
  background: linear-gradient(109.31deg, #1FA2FF 2.4%, #1FA2FF 2.41%, #1F535C 97.46%);
}

.genres__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 198px;
}

.genres__image {
  display: block;
  margin-bottom: 8px;
  width: 80px;
  height: 80px;
}

.genres__text {
  display: block;
  font-family: "Mulish", sans-serif;
  font-weight: bold;
  font-size: 28px;
  line-height: 20px;
  color: #FFFFFF;
}

.people {
  margin-bottom: 100px;
}

.people__title {
  display: inline-block;
  padding-left: 19px;
  margin-bottom: 47px;
  position: relative;
}

.people__title-link {
  display: block;
  font-family: "Mulish", sans-serif;
  font-weight: bold;
  font-size: 28px;
  line-height: 20px;
  color: #FFFFFF;
}

.no-webp .people__title::before {
  background-image: url(../img/gradient_stick_icon.png); }

.people__title::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 35px;
  top: -8px;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.no-webp .people__title::after {
  background-image: url(../img/right-arrow.png); }

.people__title::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  top: 3px;
  right: -32px;
  background-size: cover;
  background-repeat: no-repeat;
}

.people__item {
  text-align: center;
}

.people__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
  grid-template-columns: repeat(6, 1fr);
  gap: 40px;
}

.people__img {
  border-radius: 50%;
  margin-bottom: 20px;
  max-width: 100%;
  height: auto;
}

.people__name {
  font-family: "Mulish", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
}

.soon {
  margin-bottom: 121px;
}

.soon-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  background: -o-linear-gradient(2.98deg, #0D1A73 29.67%, #000000 70.52%);
  background: linear-gradient(87.02deg, #0D1A73 29.67%, #000000 70.52%);
  -webkit-box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.1);
          box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.1);
  border-radius: 20px;
}

.soon-content__image {
  border-radius: 20px 0px 0px 20px;
  height: 100%;
  width: 100%;
}

.soon-content__year {
  margin: auto;
  text-align: center;
  padding: 10px 15px;
}

.soon-content__year-image {
  display: block;
  margin: 0 auto 31px;
  max-width: 294px;
  width: 100%;
  height: auto;
}

.soon-content__year-text {
  font-family: "Mulish", sans-serif;
  font-weight: bold;
  font-size: 64px;
  line-height: 64px;
  text-transform: capitalize;
  color: #FFFFFF;
}

.no-webp .register-inner {
  background: url(../img/register/register-bg.png); }

.register-inner {
  height: 270px;
  max-width: 1224px;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto 121px;
}

.register-title {
  font-family: "Mulish", sans-serif;
  font-weight: bold;
  font-size: 64px;
  line-height: 100%;
  text-transform: capitalize;
  color: #FFFFFF;
  max-width: 800px;
}

.register-button {
  margin-left: 100px;
  max-height: 50px;
}

.footer {
  background-color: #101012;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 70px 165px;
}

.footer__logo {
  margin-right: 82px;
}

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-nav__list:not(:last-child) {
  margin-right: 52px;
}

.footer-nav__item {
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  position: relative;
  padding-bottom: 7px;
}

.footer-nav__item:not(:last-child) {
  margin-bottom: 13px;
}

.footer-nav__item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: -o-linear-gradient(133.47deg, #26FFF2 13.2%, #326CFF 71.54%);
  background: linear-gradient(316.53deg, #26FFF2 13.2%, #326CFF 71.54%);
  border-radius: 50px;
  opacity: 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.footer-nav__item:hover {
  color: #FFFFFF;
}

.footer-nav__item:hover::after {
  opacity: 1;
}

.footer-nav__link {
  display: inline-block;
  color: #C2C2C2;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
}

/* --- @MEDIA --- */

/* -- custom --*/

/* -- PC -- */

/* -- TABLET -- */

/* -- MOBILE -- */

/* -- MOBILE SMALL -- */

/* --- /@MEDIA */

@media (max-width: 1247.98px) {
  .soon-content__year-text {
    font-size: 48px;
    line-height: 50px;
  }

  .register-inner {
    background-position: center;
  }

  .register-button {
    margin-left: 75px;
  }
}

@media (max-width: 1086.98px) {
  .trends {
    padding: 40px 0 50px;
  }

  .trends-cards__list {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }

  .people__name {
    font-size: 16px;
    line-height: 18px;
  }

  .soon {
    margin-bottom: 100px;
  }

  .register-title {
    font-size: 50px;
  }

  .footer__content {
    padding: 60px 50px;
  }
}

@media (max-width: 991.98px) {
  .header-nav__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .header__buttons :not(:last-child) {
    margin-right: 35px;
  }

  .header-nav__item:not(:last-child) {
    margin-right: 35px;
  }

  .top__content {
    background-color: rgba(0, 0, 0, 0);
    -webkit-box-shadow: 100px -15px 100px rgba(0, 0, 0, 0);
            box-shadow: 100px -15px 100px rgba(0, 0, 0, 0);
    padding: 75px 0px 75px 0;
  }

  .top__image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, right top, color-stop(60%, rgba(0, 0, 0, 0.85)), to(rgba(0, 0, 0, 0)));
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0.85) 60%, rgba(0, 0, 0, 0));
    background: linear-gradient(to right, rgba(0, 0, 0, 0.85) 60%, rgba(0, 0, 0, 0));
  }

  .trends-cards__list {
    -ms-grid-columns: (auto)[3];
    grid-template-columns: repeat(3, auto);
  }

  .trends-cards__image {
    border-radius: 15px;
  }

  .genres__list {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (auto)[3];
    grid-template-rows: repeat(3, auto);
    gap: 20px;
  }

  .people {
    margin-bottom: 80px;
  }

  .people__list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }

  .people__img {
    margin-bottom: 10px;
  }

  .soon-content__year-text {
    font-size: 34px;
    line-height: 36px;
  }

  .soon {
    margin-bottom: 70px;
  }

  .register-title {
    font-size: 36px;
  }

  .register-button {
    margin-left: 40px;
  }

  .footer__content {
    padding: 40px 0px;
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
  }

  .footer__logo {
    margin-right: 40px;
  }

  .footer__logo-img {
    width: 100%;
    height: auto;
  }

  .footer-nav__item {
    font-size: 14px;
  }

  .footer-nav {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }

  .footer-nav__list:not(:last-child) {
    margin-right: 25px;
  }
}

@media (max-width: 767.98px) {
  .menu-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 30px;
    height: 19px;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }

  .menu-button span {
    display: block;
    height: 3px;
    width: 100%;
    background-color: #fff;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }

  .menu-button.active span:first-child {
    -webkit-transform: rotate(45deg) translate(6px, 6px);
        -ms-transform: rotate(45deg) translate(6px, 6px);
            transform: rotate(45deg) translate(6px, 6px);
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }

  .menu-button.active span:nth-child(2) {
    -webkit-transform: translateX(100px);
        -ms-transform: translateX(100px);
            transform: translateX(100px);
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    overflow: hidden;
  }

  .menu-button.active span:last-child {
    -webkit-transform: rotate(-45deg) translate(5px, -5px);
        -ms-transform: rotate(-45deg) translate(5px, -5px);
            transform: rotate(-45deg) translate(5px, -5px);
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }

  .header__content {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    overflow: hidden;
  }

  .header-nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    top: 100px;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 300px;
    background-color: #000;
    -webkit-transform: translateX(3000px);
        -ms-transform: translateX(3000px);
            transform: translateX(3000px);
    -webkit-transition: all 1.7s;
    -o-transition: all 1.7s;
    transition: all 1.7s;
    border-top: 2px solid #2F2E2E;
    border-bottom: 2px solid #2F2E2E;
  }

  .header-nav__list.active {
    -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
  }

  .header-nav__item {
    padding-top: 0px;
  }

  .header-nav__item:not(:last-child) {
    margin-right: 0px;
    margin-bottom: 30px;
  }

  .header-nav__link {
    font-size: 22px;
    line-height: 24px;
    color: white;
  }

  .header-nav__link::after {
    display: none;
  }

  .top__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .top__content {
    max-width: 100%;
    padding: 10px 0 25px 0;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }

  .top__content-title {
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 15px;
  }

  .top__content-info {
    margin-bottom: 15px;
  }

  .top__content-text {
    margin-bottom: 20px;
  }

  .top__image {
    position: relative;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .top__image img {
    max-width: 100%;
    height: auto;
    border: 1px solid;
  }

  .top__image::before {
    display: none;
  }

  .trends {
    padding: 40px 0 40px;
  }

  .trends-cards {
    margin-bottom: 35px;
  }

  .trends-cards__title-link,
  .genres__title-link,
  .people__title-link {
    font-size: 22px;
    line-height: 24px;
  }

  .trends-cards__title,
  .genres__title,
  .people__title {
    margin-bottom: 30px;
  }

  .trends-cards__image:hover {
    -webkit-box-shadow: 0 0 0px rgba(44, 176, 249, 0.5);
            box-shadow: 0 0 0px rgba(44, 176, 249, 0.5);
  }

  .genres {
    margin-bottom: 40px;
  }

  .genres__list {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (auto)[4];
    grid-template-rows: repeat(4, auto);
    gap: 20px;
  }

  .genres__link {
    height: 150px;
  }

  .people {
    margin-bottom: 60px;
  }

  .soon-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-radius: 20px 20px 20px 20px;
  }

  .soon-content__link {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .soon-content__image {
    border-radius: 0px 0px 20px 20px;
  }

  .soon-content__year {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
  }

  .soon-content__year-image {
    margin: 0 auto 5px;
  }

  .soon {
    margin-bottom: 50px;
  }

  .register-inner {
    height: 200px;
    margin: 0 auto 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .register-button {
    margin-left: 0px;
  }

  .register-title {
    margin-bottom: 20px;
    font-size: 30px;
    text-align: center;
  }

  .footer-nav {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }

  .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__logo-img {
    max-width: 157px;
    height: auto;
    margin-bottom: 35px;
  }
}

@media (max-width: 479.98px) {
  .header__logo {
    padding: 15px 0px 15px 0;
  }

  .header__logo-img {
    max-width: 80%;
  }

  .header__buttons :not(:last-child) {
    margin-right: 25px;
  }

  .header-nav__list {
    top: 70px;
  }

  .top__content-year {
    margin-right: 10px;
  }

  .top__content-rating {
    margin-right: 10px;
  }

  .top__content-length {
    margin-right: 20px;
  }

  .top__content-title {
    font-size: 35px;
    line-height: 45px;
  }

  .top__content-text {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 25px;
  }

  .button {
    font-size: 14px;
    padding: 10px 15px;
  }

  .top__content-button--left {
    margin-right: 10px;
  }

  .trends-cards__list {
    -ms-grid-columns: (auto)[2];
    grid-template-columns: repeat(2, auto);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  .trends-cards__title-link,
  .genres__title-link,
  .people__title-link {
    font-size: 18px;
    line-height: 22px;
  }

  .genres__text {
    font-size: 20px;
    line-height: 24px;
  }

  .genres__list {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: (auto)[8];
    grid-template-rows: repeat(8, auto);
    gap: 20px;
  }

  .people {
    margin-bottom: 40px;
  }

  .people__list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  .soon-content__year-text {
    font-size: 20px;
    line-height: 24px;
  }

  .soon {
    margin-bottom: 30px;
  }

  .register-title {
    font-size: 22px;
  }

  .footer-nav {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
    text-align: center;
  }

  .footer-nav__link {
    color: #fff;
  }

  .footer__logo {
    margin-right: 0px;
    text-align: center;
  }

  .footer-nav__list:not(:last-child) {
    margin-right: 0px;
  }

  .footer-nav__item:hover::after {
    opacity: 0;
  }

  .footer__content {
    padding: 30px 0;
  }
}

.webp .trends-cards__title::before { background-image: url(../img/gradient_stick_icon.webp); }

.webp .trends-cards__title::after { background-image: url(../img/right-arrow.webp); }

.webp .genres__title::before { background-image: url(../img/gradient_stick_icon.webp); }

.webp .genres__title::after { background-image: url(../img/right-arrow.webp); }

.webp .people__title::before { background-image: url(../img/gradient_stick_icon.webp); }

.webp .people__title::after { background-image: url(../img/right-arrow.webp); }

.webp .register-inner { background: url(../img/register/register-bg.webp); }